---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";

$background-color-ensai : #D9F0FA !important;
$text-color-ensai: #009BDE !important;
$site-title-ensai: #009BDE !important;

.site-header {
    background-color: $background-color-ensai;
}

.page-link {
    color: $text-color-ensai;
}

.site-title {
    font-weight: bold;
&,
&:visited {
    color: $site-title-ensai;
}
}

.site-logo {
    height: 4rem;
    margin-bottom: 0;
    float: left;
  }